*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*poner font family */
}

body{
    background-color: bisque;
}

section{
    background: salmon;
    margin: 15px;
}

.contenedor{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.contenedor-foto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 2px black;
    margin: auto;
}

.foto{
    width: 100%;
    height: 100%;
}

.contenedor h1{
    margin-top: 20px;
}

.contenedor p{
    margin-top: 25px;
}

.contenedor-info{
    width: 100%;
}

.info{
    width: 100%;
    text-align: center;
}

.info h1{
    margin-top: 50px;
    font-weight: 100;
    text-align: center;
}

.info hr{
    width: 200px;
    height: 1px;
    margin: auto;
}

.info ul{
    margin-top: 10px;
    list-style: none;
}

.contenedor-conocimientos{
    width: 100%;
    text-align: center;
}

.contenedor-conocimientos h1{
    font-weight: 100;
    margin-top: 20px;
}

.contenedor-conocimientos hr{
    width: 200px;
    height: 1px;
    margin: auto;
}

.contenedor-img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    overflow: hidden;
}

.contenedor-conocimientos h3{
    font-weight: 100;
    margin-top: 10px;
}

.contenedor-conocimientos p{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.contenedor-contacto{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.contenedor-contacto h1{
    margin-top: 20px;
}

.contenedor-contacto p{
    margin-top: 20px;
}
